[submodule "src/stdlib"]
	path = src/stdlib
	url = git@github.com:beingmeta/stdlib.git
	branch = trunk
[submodule "docs/wiki"]
	path = docs/wiki
	url = git@github.com:beingmeta/kno.wiki.git
[submodule "src/extmods/sundown"]
	path = src/submods/sundown
	url = git@github.com:beingmeta/kno-sundown.git
[submodule "src/extmods/mongodb"]
	path = src/submods/mongodb
	url = git@github.com:beingmeta/kno-mongo.git
[submodule "src/extmods/tidy"]
	path = src/submods/tidy
	url = git@github.com:beingmeta/kno-tidy.git
[submodule "src/extmods/hyphenate"]
	path = src/submods/hyphenate
	url = git@github.com:beingmeta/kno-hyphenate.git
[submodule "src/extmods/mysql"]
	path = src/submods/mysql
	url = git@github.com:beingmeta/kno-mysql.git
