[submodule "docs/wiki"]
	path = docs/wiki
	url = ../kno.wiki.git
[submodule "tests"]
	path = src/tests
	url = ../kno-tests.git
	update = merge
[submodule "src/stdmods"]
	path = src/stdmods
	url = ../stdmods.git
	update = merge
[submodule "src/brico"]
	path = src/brico
	url = ../brico.git
	update = merge
[submodule "src/textmods"]
	path = src/textmods
	url = ../textmods
	update = merge
[submodule "src/webmods"]
	path = src/webmods
	url = ../webmods
	update = merge

