td.fragindex {
  background-color: silver;}
td.fragindex span.label {
  font-family: sans; font-weight: bold; font-variant: small-caps;
  color: white; background-color: black;}

P.context {
  font-family: sans-serif; font-weight: bold;
  border-bottom: 0pt; padding-bottom: 0pt; margin-bottom: 0pt;}
P.context A.ref {
  text-decoration: none; color: black; font-weight: normal; font-style: italic;}
P.context A.smallref {
  text-decoration: none; color: black; font-family: fixed; font-size: smaller; font-weight: normal;}
P.content {
  font-family: serif; font-weight: normal; font-size: small;
  border-bottom: 0pt; padding-bottom: 0pt; margin-bottom: 0pt;
  border-top: 0pt; padding-top: 0pt; margin-top: 0pt;}
P.content A { text-decoration: none; color: inherit; }
P.content A.content_tag {
  text-decoration: none; color: purple; font-weight: normal; }
P.anchors {
  font-family: serif; font-size: small; font-weight: normal;
  border-top: 0pt; padding-top: 0pt; margin-top: 0pt;
  border-bottom: 0pt; padding-bottom: 0pt; margin-bottom: 0pt;
  margin-right: 40pt; margin-left: 20pt;}
P.anchors span.anchor_text {
  font-weight: normal; font-style: italic; white-space: nowrap;
  padding-right: 18pt;}
P.explanation {
  color: purple; font-size: x-small;
  border-top: 0pt; margin-top: 0pt; padding-top: 0pt;}
P.explanation A {
  text-decoration: none; color: purple;}
P.explanation span.inline {
  color: black; font-weight: bold;}
span.textkey { font-family: sans; font-size: small; font-style: italic; }
span.proper_name { font-family: sans; font-weight: bold; font-size: small; }
span.noun_phrase { font-family: sans; }
span.xkey { font-family: sans; font-variant: small-caps; }
span.concept_key { font-family: sans; }
span.refpoint_key { font-family: sans; }
span.strange_key { font-family: fixed;}

span.smallref {
  text-decoration: none; color: black;
  font-family: fixed; font-size: smaller; font-weight: normal;}

p.query_field {
  font-family: sans; 
  border-bottom: 0pt; padding-bottom: 0pt; margin-bottom: 0pt;}
p.query_field span.directions {
  margin-left: 10em; font-size: 9pt; font-family: serif;}

DIV.top_right {
  float: right; padding-left: 3pt;
  text-align: right: vertical-align: top;}
DIV.top_right IMG {
  border: 0;}
DIV.top_right A {
  text-decoration: none;}

span.keytitle { font-size: smaller; font-family: sans; white-space: nowrap; }

table.fragment_layout {}
table.fragment_layout TD.fragment_text {
 font-size: larger; padding: 5pt; width: 60%;
 background-color: ivory; vertical-align: top; text-align: left;}
table.fragment_layout TD.narrow {
  width: 18px; vertical-align: top; text-align: right;}
table.fragment_layout TD.prev_arrow {
  width: 8px; vertical-align: top; text-align: right;
  padding: 0; border: 0; margin: 0;}
table.fragment_layout TD.next_arrow {
  width: 8px; vertical-align: top; text-align: left;
  padding: 0; border: 0; margin: 0;}

table.fragment_layout TH.prev_text {
  font-family: sans; font-size: smaller; font-weight: bold;
  text-align: left; vertical-align: bottom;}
table.fragment_layout TD.prev_text {
  font-size: smaller; padding: 2pt; width: 20%; text-align: left; vertical-align: top;
  background-color: pink;}
table.fragment_layout TD.begin_text {
  font-weight: bold; width: 20%; text-align: left; vertical-align: top;}

table.fragment_layout TH.next_text {
  font-family: sans; font-size: smaller; font-weight: bold;
  text-align: right; vertical-align: bottom;}
table.fragment_layout TD.next_text {
  font-size: smaller; padding: 2pt; width: 20%; text-align: left; vertical-align: top;
  background-color: lightblue;}
table.fragment_layout TD.end_text { 
  font-weight: bold; width: 20%; text-align: right; vertical-align: top;}

a.gourl {
  font-size: small; font-family: sans; font-color: blue; text-decoration: none;}

p.previous_fragment {
  margin-left: 20%; margin-right: 5%; font-size: small;}
p.previous_fragment A { text-decoration: none; color: inherit; }
p.focus_fragment {
  margin-right: 20%; font-size: large; background-color: yellow;}
p.next_fragment {
  margin-left: 20%; margin-right: 5%; font-size: small; }
p.next_fragment A { text-decoration: none; color: inherit; }

A.content_tag {
  text-decoration: none; color: purple; font-weight: normal; }
H3 span.sample {
  font-size: 9pt; font-family: sans;}
H3 span.date {
  font-size: 8pt; font-family: sans;}
span.passage_url { font-size: smaller; font-family: fixed; }

a.float_prev_arrow {
  float: left; float: top;}
a.float_next_arrow {
  float: right; float: top;}

a.command {
 font-size: small; font-family: sans; font-weight: bold;
 padding: 1pt; border: 1pt; border-color: black;
 text-decoration: none; color: purple; background-color: silver;}

H3.analysis span.title { font-family: sans; }

P.sliced_fragment {
  font-family: serif; font-weight: normal; font-size: normal;
  border-bottom: 0pt; padding-bottom: 0pt; margin-bottom: 0pt;
  border-top: 0pt; padding-top: 0pt; margin-top: 8pt;
  background-color: yellow; margin-left: 48pt; margin-right: 24pt;}
P.sliced_fragment A.whole_tag { text-decoration: none; color: inherit; }
P.slice_explanation {
  color: purple; font-size: x-small; margin-left: 48pt;
  border-top: 0pt; margin-top: 0pt; padding-top: 0pt;}
P.reduced_fragment {
  font-family: serif; font-weight: normal; font-size: x-small;
  border-bottom: 0pt; padding-bottom: 0pt; margin-bottom: 0pt;
  border-top: 0pt; padding-top: 0pt; margin-top: 0pt;
  background-color: lightgrey;}
P.reduced_fragment A.whole_tag { text-decoration: none; color: inherit; }
