div.bookmarks {
  margin-top: 15pt; border-top: purple solid 2pt; padding-top: 5pt;
  text-align: left; }
div.bookmarks div.header {
  text-align: center; background: silver;
  font-family: sans; font-weight: bold; font-size: 14pt;}

div.bookmark {
  padding-bottom: 6pt; border-top: solid black 2pt;
  margin-top: 2pt; width: 98%; margin-left: 1%; margin-right: 1%;}

div.bookmark div.title {
  color: purple; font-family: sans;
  text-align: left;
  margin-left: 20pt; text-indent: -20pt;}

div.bookmark div.title span.score {
  color: black; font-size: 15pt; font-weight: bold;
  padding-right: 5px;}
div.bookmark div.title span.scorediff {
  color: gold; font-size: 15pt; font-weight: bold;}
div.bookmark div.title span.score img {
  border: none;}
div.bookmark div.title span.scorediff img {
  border: none;}
div.bookmark div.title span.bigscore {
  color: black; font-size: 11pt; font-weight: bold;
  padding-right: 5px;}
div.bookmark div.title span.bigscore img {
  border: none;} 
div.bookmark div.title span.hugescore {
  color: black; font-size: 7pt; font-weight: bold;
  padding-right: 5px;}
div.bookmark div.title span.hugescore img {
  border: none;} 

div.bookmark div.url {
  color: black; font-family: fixed;
  text-align: left; font-size: 60%;}

div.bookmark div.tabbar {
 color: purple; text-indent: 0pt; margin-left: 0pt;
 padding-top: 7pt;}

div.bookmark div.tabbar span.buttons {
 float: right;}
div.bookmark span.buttons {
 float: right;}

div.bookmark div.date {
  color: black; font-family: sans;
  text-align: left; text-indent: 0pt;}

div.bookmark div.excerpts {
  padding-top: 4pt; margin-top: 4pt;}
div.bookmark div.excerpts select {
  }
div.bookmark div.excerpt {
  margin-left: 5em; margin-bottom: 3pt; margin-top: 3pt;
  padding: 2pt; border: solid black 1pt;
  color: black; font-family: serif; font-style: italic;
  font-size: 80%; max-width: 50em;}
div.bookmark div.excerpt span.source {
  float: none; padding-left: 24px;} 

div.bookmark div.bookmarkbar span.tagtime {
 color: black; font-family: fixed; font-size: 9pt;}

div.bookmark span.provider {
  float: right; font-family: fixed;
  padding-top: 2pt; font-size: 8pt; color: purple;}
div.bookmark span.source {
  float: right; color: purple; padding-top: 2pt;
  font-family: sans; font-size: 10pt;}
div.bookmark span.source span.displayname {
  font-family: sans,sans-serif; font-weight: bold;}
div.bookmark span.source span.email {
  font-family: courier,fixed; font-weight: bold;}

div.bookmark div.tags { margin-top: 4pt;}
div.bookmark div.tags span.inlinehead {
  font-family: sans,sans-serif; font-weight: bold;
  color: black; padding-left: 12px;}
div.bookmark div.tags span.auto { color: purple; }
div.bookmark div.tags span.others { color: green; }
div.bookmark div.tags span.inherited { font-style: italic; }

div.bookmark div.passages { margin-top: 8px;}
div.bookmark div.passages div.passage {
  margin-left: 10%; margin-top: 4px; border-top: solid purple 1px; padding-top: 2px;
  text-indent: -16px; }

div.geekstuff { font-family: fixed; }
div.tab_content div.geekstuff { font-family: fixed; }

