span.disambiguator { color: red;}

span.didyoumean { color: red; }

span.refinement { white-space: nowrap; }

a.subtle_concept { margin: 0pt; padding: 0pt; margin: 0pt;}
a.subtle_concept img { margin: 0pt; padding: 0pt; margin: 0pt;}

div.mkwidget div.metakeys { width: 96%; }

/* Metakeys Stuff */

div.tags {}
div.tags span.inhead {
  background-color: black; padding: 2pt; font-weight: bold; color: white;}

span.metakey {
  border: none 1px;
  padding-left: 2pt; padding-right: 2pt;
  white-space: nowrap;
  color: blue;}
span.metakey[resolved='yes'] {
  border: none 1px;
  padding-left: 2pt; padding-right: 2pt;
  white-space: nowrap;
  color: blue; font-weight: bold;}

span.tag {
  color: blue; font-family: fixed; }
span.texttag {
  padding-left: 2pt; padding-right: 2pt;
  color: black; font-family: fixed;}
span.ambigtag {
  padding-left: 2pt; padding-right: 2pt;
  color: blue; font-style: italic; font-family: fixed;}
span.meaning {
  white-space: nowrap;}

span.ambigtag  span.meaning { display: none;}
span.tag span.meaning { display: none;}
span.ambigtag  span.extrameanings { display: none;}
span.tag span.extrameanings { display: none;}
span.extrameanings span.meaning { display: inline;}

a.diamoid { text-decoration: none;}
a.diamoid img { border: none;}

span.hidden_narrative { color: purple; white-space: nowrap; display: none;}
span.new { background-color: silver;}
span.current span.tag { }
span.current span.texttag { }
span.current span.ambigtag { }
span.inherited span.tag { font-size: 80%;}
span.inherited span.texttag { font-size: 80%;}
span.inherited span.ambigtag { font-size: 80%;}

span.tag a.definelink { color: green; display: none;}
span.texttag a.definelink { color: green;  display: none;}
span.ambigtag a.definelink { color: green;  display: none;}

span.taghead {
  white-space: nowrap;}

a.definelink {
  color: blue; font-style: italic; font-size: 90%;
  text-decoration: none; white-space: nowrap;}

a.definelink span.term {
  color: red; font-weight: bold;}

div.ambiginfo {
  text-align: left; font-style: italic; font-family: serif; }
span.ambiginfo {
  font-style: italic; font-family: serif; }
.ambiginfo span.dterm {
  font-weight: bold; font-style: normal; font-family: sans;
  color: blue;}
.ambiginfo span.dterm span.disambiguator {
  color: red;}
.ambiginfo span.texttag {
  font-style: normal; font-family: fixed; font-weight: bold;
  text-decoration: underline; }

/* For automatic expansions display */

div#EXPANSIONS {
  width: 33%; position: absolute; top: 24pt; left: 24pt;
  display: none; background: lightgray;
  -moz-opacity: .80; z-index: 32;}
div#EXPANSIONS div.expansion div.gloss {
  color: red; -moz-opacity: 1.5; font-weight: bold;}

div.placeholder { text-align: left; width: 100%; }
div#EXPANSIONS div.placeholder div.gloss {
  color: red; -moz-opacity: 1.5; font-weight: bold;}

div.expansion {
  text-align: left; width: 90%;
  padding-left: 4%; text-indent: -3%; padding-right: 3%;
  display: none; overflow: hidden; z-index: 32;}
div.expansion span.head { font-weight: bold;}
div.expansion div.gloss {
  font-size: 80%; font-family: serif; font-style: italic;}

/* Metakey menus */

div.metakey_menu {
  position: absolute; display: none; background: white;
  padding: 1pt; border: black solid 1pt; margin: 1pt;
  color: black; z-index: 16; text-align: left;}
div.metakey_menu span.clickit {
  margin-right: 2pt;}
div.metakey_menu div.item {
  text-align: left; 
  font-family: sans,sans-serif;}
div.metakey_menu div.narrative {
  text-align: left; font-weight: bold; font-style: italic;
  font-family: serif; color: purple;}
div.metakey_menu div.meaning {
  text-align: left; font-family: sans,sans-serif;
  font-style: italic; color: blue;}

div.metakey_menu_container {
  position: absolute; display: none; background: white;
  padding: 1pt; border: black solid 1pt; margin: 1pt;
  color: black; z-index: 16;}
select.metakey_menu {
  text-align: left;}
select.metakey_menu option.clickit {
  margin-right: 2pt;}
select.metakey_menu option.item {
  text-align: left; font-weight: bold; 
  font-family: sans,sans-serif;}
select.metakey_menu option.narrative {
  text-align: left; font-weight: bold; font-style: italic;
  font-family: serif; color: purple;}
select.metakey_menu option.meaning {
  text-align: left; font-family: sans,sans-serif;
  font-style: italic; color: blue;}
select.metakey_menu option.meaning { display: none; }
select.metakey_menu option.meaning[exposed='yes'] { display: block; }
select.metakey_menu[expanded='yes'] option.meaning {
  display: block; }
select.metakey_menu option.showmore {
  text-align: left; font-family: serif; color: purple;}
select.metakey_menu[expanded='yes'] option.showmore {
  display: none;}

span.dragged_metakey { font-family: sans; color: red; font-weight: bold;}

div.meaning img.sample {
  vertical-align: top; float: right; clear: right; height: 48px;
  padding: 0pt; border: 0pt; margin: 0pt; padding-bottom: 6pt;}
div.meaning img.sample {
  vertical-align: top; position: absolute; right: 0px;
  padding: 0pt; border: 0pt; margin: 0pt; padding-bottom: 6pt;}
div.meaningsep { height: 0pt; clear: both; }

