.container {}
.container input[type='text'] { float: right;}

div.container input[type='text'] {
  float: right;}

span.stringval { white-space: nowrap;}
span.stringval[new='yes'] { font-weight: bold;}
span.stringval sub.langids { font-family: fixed; color: green;}

