/* Richtips are overlayed tooltips for metakeys, displayed
   in translucent rectangles.
   This file works in conjunction with richtips.js
   $Id$
*/

div.richtip {
  text-align: left; padding: 3px;
  font-size: 12px; font-family: sans-serif; font-weight: normal;
  width: 33%; position: absolute; top: 24pt; left: 24pt;
  display: none; background: lightgray;
  opacity: .80; -moz-opacity: .80; z-index: 32;}

div.richtip span.dterm {
  color: blue; font-size: 14px; font-weight: bold;}
div.richtip span.disambiguator {
  color: red; font-size: 14px; font-weight: bold;}
div.richtip span.term {
  color: blue; font-size: 14px; font-weight: bold;}

div.richtip span.gloss {
  color: black; font-style: italic;}
div.richtip div.rel {}
div.richtip div.rel span.relname {
  font-weight: bold; padding: 2px; color: purple;}



