body { background: ivory; }

div.menubar {
  width: 100%; border-bottom: solid purple 3pt;
  min-height: 16pt; text-align: center;}
div.menubar div.pagesummary {
  font-family: sans; color: purple;
  margin-left: 150pt; margin-right: 150pt;}
div.menubar img.sitelogo {
  border: 0; position: absolute; right: 12pt;}
div.menubar img.applogo {
  border: 0; position: absolute; left: 12pt;}

p.textarea {
  text-align: center; color: purple; font-family: sans;}
p.textarea textarea {
  font-family: sans;}
p.parsebutton {
  text-align: center;}

div.parser_output {
  padding-right: 10pt; padding-left: 10pt;
  margin-left: 10%; margin-right: 10%;
  background: lightgrey;}
p.sentence {
  font-family: serif;}
p.sentence span.subhead {
  font-family: sans; font-weight: bold; padding-right: 18pt;}
p.sentence span.term {
  font-family: fixed; color: green;}

p.summary {
  font-size: 120%; font-family: sans; font-weight: bold;
  text-align: center;}
p.explanation {
  font-family: serif; 
  margin-left: 15%; margin-right: 15%;}
p.instructions {
  font-family: serif; text-align: center;
  margin-left: 15%; margin-right: 15%;}

span.word {}
span.noun {
  font-weight: bold; color: blue;}
span.verb {
  font-weight: bold; color: red;}

