Source: framerd
Section: unknown
Priority: optional
Maintainer: Ken Haase <haase@Venus>
Build-Depends: debhelper (>= 8.0.0), autotools-dev
Standards-Version: 3.9.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/framerd.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/framerd.git;a=summary

Package: framerd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

Package: framerd-doc
Architecture: all
Description: documentation for framerd
 <insert long description, indented with spaces>
