Source: framerd
Section: Libraries
Priority: optional
Maintainer: Kenneth Benefiel Haase <kh@beingmeta.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, equivs, sqlite3, apache2-dev, libmysqlclient-dev, libcurl4-openssl-dev,libexif-dev,tidy5,libzip-dev,libqrencode-dev,libu8-dev (>= 2.5.1),libhyphen-dev,libedit-dev,libsasl2-dev,libbson-dev,libmagickwand-dev, libmongoc-dev
Standards-Version: 3.9.4
Homepage: http://www.framerd.org/

Package: framerd
Architecture: any
Depends: ${misc:Depends}, libu8 (>= 2.5.1), libzip4, libzip2, libssl1.0.0, libcurl3, libhyphen0, libedit2, adduser
Description: Scalable knowledge base development and application platform
 FramerD provides a robust and scalable object database especially
 designed and optimized for pointer-intensive semi-structured data with
 complex or evolving data models.  FramerD includes full support for
 Unicode in both data and programs together with powerful tools for
 text processing and linguistic analysis.
 FramerD natively supports reading and and generation of XML, HTML, and
 MIME data.  Web services support has long included built-in support
 for processing CGI requests both directly and with fastcgi.  With
 version 2.4, FramerD comes with mod_fdserv, a lightweight extension to
 the Apache webserver for transparently managing persistent
 multi-threaded servlets responding to CGI requests.

Package: libapache2-mod-fdserv
Architecture: any
Depends: framerd (= ${binary:Version}), apache2
Description: The mod_fdserv module for FramerD servlets under Apache

Package: framerd-dev
Architecture: any
Depends: framerd (= ${binary:Version})
Description: Development files for FramerD

Package: framerd-mysql
Architecture: any
Depends: framerd (= ${binary:Version}), libmysqlclient | libmysqlclient20 | libmysqlclient19 | libmysqlclient18
Description: MYSQL bindings for FramerD

Package: framerd-sqlite
Architecture: any
Depends: framerd (= ${binary:Version}), sqlite
Description: SQLite bindings for FramerD

Package: framerd-mongodb
Architecture: any
Depends: framerd (= ${binary:Version}), libbson-dev, libmongoc-dev
Description: MongoDB interface for FramerD

Package: framerd-imagetools
Architecture: any
Depends: framerd (= ${binary:Version}), libexif12, libmagickwand | libmagickwand5 | libmagickwand-6.q16-2, libqrencode3
Description: Image tools for FramerD
  Bindings to various image libraries modules for FramerD,
  including ImageMagick, QRCode generation, and EXIF extraction.

Package: framerd-sundown
Architecture: any
Depends: framerd (= ${binary:Version})
Description: Markdown conversion (bindings) for FramerD

Package: framerd-tidy
Architecture: any
Depends: framerd (= ${binary:Version}), tidy5
Description: HTML Tidy (bindings) for FramerD

Package: framerd-doc
Architecture: any
Description: documentation for framerd

Package: framerd-gnosys
Architecture: any
Depends: framerd
Description: A document/media search and analysis toolkit in FramerD

Package: framerd-morph
Architecture: any
Depends: framerd
Description: Multi-language morphological analysis for FramerD

Package: framerd-chopper
Architecture: any
Depends: framerd
Description: Natural language processing development environment

Package: framerd-upstart
Architecture: any
Depends: framerd
Description: Upstart configuration for FramerD

Package: framerd-sysv
Architecture: any
Depends: framerd
Description: SYSV init.d configuration for FramerD

Package: framerd-systemd
Architecture: any
Depends: framerd
Description: systemd init configuration for FramerD
