#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh $@  --with autotools-dev

override_dh_auto_configure:
	dh_auto_configure -- --libdir=$(DESTDIR)/usr/lib \
		--without-sudo --with-perftools --disable-devmode \
		--with-bootsystem=upstart

override_dh_auto_install:
	make DESTDIR=$$(pwd)/debian/tmp install install-fdserv install-i18n \
		setup-upstart setup-sysv setup-logrotate
