#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh $@  --with autotools-dev --parallel

override_dh_auto_configure:
	dh_auto_configure -- --libdir=$(DESTDIR)/usr/lib \
		--without-sudo --with-perftools --disable-devmode \
		--with-bootsystem=allboot

override_dh_auto_install:
	make DESTDIR=$$(pwd)/debian/tmp install install-fdserv install-i18n \
		setup-upstart setup-sysv setup-systemd setup-logrotate

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

#override_dh_install:
#	dh_install -Xmodule.scm
