span.metakey {
  font-family: sans;
  padding-left: 2px; padding-right: 2px;
  padding-bottom: 1px; border-bottom: none 1px blue;}
span.metakey[oid] {
  color: blue;}
span.metakey:hover {
  border-bottom: dotted 1px blue;}

span.metakey input[type='checkbox'] {
  vertical-align: middle;}
span.metakey span.dterm {
  color: red; font-size: 75%; vertical-align: sub;}

div.metakey_menu {
  position: absolute; display: none; background: ivory;
  padding: 1pt; border: blue solid 1pt; 
  z-index: 16; -moz-opacity: .80;}
div.metakey_menu select {
  text-align: left; border: none;}
div.metakey_menu select option:hover {
  text-decoration: none; background: silver;}

div.metakey_expansion {
  width: 33%; position: absolute; display: none; overflow: hidden;
  z-index: 32; -moz-opacity: .70;
  text-align: left; padding-left: 4%; text-indent: -3%; padding-right: 3%;
  background: lightgray;}

div.metakey_expansion span.head { font-weight: bold;}

div.metakey_expansion div.gloss {
  font-size: 150%; font-family: serif; font-style: italic; color: red;}

div.metakey_expansion div.expansion {
  margin-left: 3em; text-indent: -3em;}

div.metakey_expansion span.langid {
  font-weight: bold;}
