TD.slots {
  vertical-align: top; text-align: left;}
TD.image {
  vertical-align: center; text-align: right;}
TABLE.header {
  background-color: black; color: tan;
  margin-left: 0%; margin-right: 0%;}
SPAN.abutton A { text-decoration: none; color: pink; }
