BODY {
 background: url(/images/prototype_bg.gif); color: black;
 font-style: times,serif; font-size: 12pt;}
BODY.doc {
 margin-left: 10%; margin-right: 10%;
 background: url(/images/prototype_bg.gif); color: black;
 font-style: times,serif; font-size: 12pt;}
SPAN.titletext { font-family: sans-serif; font-size: 18pt; font-weight: bold;}
TABLE.subhead { width: 100%; }
TABLE.subhead TD.text { font-size: 14pt; text-align: left; vertical-align: top; }
TABLE.subhead TD.button { font-size: 14pt; text-align: right; vertical-align: top; }
TABLE.pagehead { width: 100%; font-family: sans-serif; }
TABLE.pagehead TH.lefticon { text-align: left; vertical-align: top;}
TABLE.pagehead TH.righticon { text-align: right; vertical-align: top;}
TABLE.pagehead TH.righticon A { font-size: 18pt; text-align: center; vertical-align: top;}
TABLE.pagehead TD.left { text-align: left; font-size: large;}
TABLE.pagehead TH.lefthead {
  text-align: left; vertical-align: top;
  font-family: sans-serif; font-size: 18pt; }
TABLE.pagehead TH.centerhead {
  text-align: center; vertical-align: top;
  font-family: sans-serif; font-size: 18pt; }
TABLE.pagehead TH.hugecenterhead {
  text-align: center; vertical-align: top;
  font-family: sans-serif; font-size: 32pt; }
TABLE.pagehead TH.hugecenterhead SPAN.subhead {
  font-family: serif; font-size: 75%;}
TABLE.pagehead TH.querytext {
  text-align: left; vertical-align: top;
  font-family: serif; font-size: 16pt; font-style: italic; }
TABLE.pagehead TH.framelist {
  text-align: left; vertical-align: top;
  font-family: fixed; font-size: 12pt; }
SPAN.reftype {
  color: purple; font-family: sans-serif; font-size: 18pt; font-weight: bold;}
SPAN.refpool {
  color: purple; font-family: fixed; font-size: 12pt; font-weight: bold;}
SPAN.refname {
  font-family: serif; font-size: 18pt; font-style: italic; white-space: nowrap; }
TABLE.pagehead TH.centerhead {
  text-align: center; vertical-align: top;
  font-family: sans-serif; font-size: 18pt; }
TABLE.pagehead TH.smallhead {
  text-align: left; vertical-align: top;
  font-family: sans-serif; font-size: 14pt;
  border-color: black; border-right: 7; }
TABLE.pagehead TH.righthead {
  text-align: right; vertical-align: top;
  font-family: sans-serif; font-size: 24pt; font-weight: bold;
  padding-right: 5; border-right: 7; border-color: green; }
TABLE.pagehead TH.righticon {
  text-align: right; vertical-align: top; white-space: nowrap;
  font-family: sans-serif; font-size: 16pt; font-weight: bold;}
TABLE.pagehead TH.centerhead { text-align: center; font-family: sans-serif; font-size: large;}
TABLE.pagehead TH.centerhead SPAN.title { font-family: sans-serif; font-weight: bold;}
TABLE.pagehead TH.centerhead SPAN.subtitle { font-family: serif; font-size: normal; font-style: oblique;}
TABLE.pagehead TH.centerhead SPAN.issue { font-size: small;}
TABLE.pagehead TH.centerhead SPAN.byline { font-size: small;}
TABLE.query TR.keysummary { text-align: center; }
TABLE.query TR.keysummary TH.slotid {
  font-size: 8pt; text-align: right; vertical-align: top;}
TABLE.query TR.keysummary TD.slotvalue {
  font-size: 8pt; font-weight: normal; text-align: left; vertical-align: top;}
TABLE.query TH.querytext {
  font-size: 14pt; text-align: center; vertical-align: top; font-style: oblique;}
TABLE.query TH.framelist {
  font-size: 10pt; text-align: center; vertical-align: top; font-family: fixed;}
TABLE.refine_form TH.title { text-align: left; vertical-align: top; font-size: 16pt;}
TH.slotid { vertical-align: top; text-align: right; }
TH.slotid A { color: green; }
TD.slotvalue { vertical-align: top; text-align: left; }
TABLE.query TH.slotid {
 vertical-align: top; text-align: right;
 font-family: sans-serif; font-size: 8pt; font-weight: bold;}
TABLE.query TD.slotvalue {
 vertical-align: top; text-align: left;
 font-family: serif; font-size: 8pt;}
TABLE.searchmap TD.pageno {}
TABLE.searchmap TD.pageno SPAN.thispageno { font-size: 150%; }
TABLE.searchmap TD.score {}
TABLE.searchmap TD.score SPAN.thisscore { font-size: 150%; }
TABLE.searchresults TH.from { text-align: right; vertical-align: top; font-weight: bold; }
TABLE.searchresults TH.score { color: red; font-size: small; font-family: fixed; text-align: right; vertical-align: top; white-space: nowrap; }
TABLE.searchresults TH.score A { color: red; }
TABLE.searchresults TH.llabel {
  color: purple; font-size: small; font-family: fixed; text-align: right; vertical-align: top; white-space: nowrap; }
TABLE.searchresults TH.buttons {
  font-size: small; font-family: fixed; text-align: right; vertical-align: top; }
TABLE.searchresults TH.source { font-size: 14pt; font-weight: bold; text-align: left; vertical-align: top; }
TABLE.searchresults TH.source SPAN.subhead { font-size: 10pt; font-weight: normal; font-style: italic; }
TABLE.searchresults TD.summary SPAN.text A {
  font-size: normal; font-style: 12pt; vertical-align: top; text-decoration: none; color: black;}
TABLE.searchresults TD.summary SPAN.concepts {
  font-size: 7pt; font-family: sans-serif; text-color: blue;}
TABLE.searchresults TD.summary SPAN.concepts A {font-size: 7pt; color: purple; text-decoration: none;}
TABLE.searchresults TD.summarytext SPAN.markup {
  font-size: small; font-family: sans-serif; font-style: normal; }
TABLE.searchresults TD.keysmatched {
  font-size: small; font-family: fixed; font-style: normal; }
TD.fragtext {}
TD.prev_text { font-size: 8pt;}
TD.next_text { font-size: 8pt;}
SPAN.indexentry {
  font-family: sans-serif; font-size: 10pt; white-space: nowrap;}
SPAN.indexentry A {
  text-decoration: none; color: inherit;}
SPAN.issue SPAN.pubname { font-family: sans-serif; font-size: 12pt; font-weight: bold; }
SPAN.sysview { font-family: sans-serif; font-size: 8pt; font-weight: bold; }
TH.pnum { font-family: sans-serif; font-size: normal; text-align: right;}
TD.pnum { font-size: large; text-align: left;}
TABLE.textdisplay { width: 75%; text-align: center; }
TABLE.textdisplay TH.ptag { vertical-align: top; text-align: right;}
TABLE.textdisplay TD.ptext { font-size: 12pt; vertical-align: top; text-align: left;}
TABLE.textdisplay TH.phead { font-size: 14pt; font-weight: bold; vertical-align: top; text-align: left;}
SPAN.keylist { font-size: 8pt; font-family: fixed; }
TABLE.pagehead SPAN.title { font-size: 18pt; font-weight: bold; }
TABLE.pagehead SPAN.title A { text-decoration: underline; color: black; }
TABLE.pagehead SPAN.subtitle { font-size: 10pt; font-weight: normal; }
TABLE.query TH.simframe { font-size: 10pt; font-weight: normal; text-align: center; }
TABLE.search_bar TD.score {font-size: 8pt; font-family: fixed; text-align: right;}
TABLE.search_bar TD.count {font-size: 8pt; font-family: fixed; text-align: left;}
TD.ignorebox { font-family: sans-serif; font-size: 8pt; }
SPAN.sessionid { font-family: fixed; font-size: 8pt; }
SPAN.nobreak { white-space: nowrap; }
SPAN.nobreak A { white-space: nowrap; }
TABLE.queryform {}
TABLE.queryform TD.textfield { font-size: 14pt; text-align: left; vertical-align: top;}
TABLE.queryform TD.button { font-size: 8pt; text-align: right; vertical-align: top;}
TABLE.queryform TD.doc { font-size: 11pt; text-align: left; vertical-align: top;}
BUTTON { border: 0; padding: 0; margin: 0; }
A.textsearch { text-decoration: none; color: #404040; }
SPAN.slotval A { text-decoration: none; }
SPAN.slotval { white-space: nowrap; }
TABLE.sloteditor {
  margin-left: 10%; margin-right: 10%;}
TABLE.sloteditor TH.slotid {
  text-align: left; font-weight: bold; vertical-align: top;}
TABLE.sloteditor TH.slotid A {
  text-decoration: none; font-family: sans-serif; font-size: 16pt; color: blue;}
TABLE.sloteditor TD.slotbar { text-align: center; }
TABLE.sloteditor TD.slotgloss { text-align: left; }
TABLE.sloteditor TD.expansion { text-align: left; font-family: serif; font-size: 6pt;}
TABLE.sloteditor TD.blank { text-align: center; }
TABLE.sloteditor TD.textfield { text-align: left; vertical-align: top;}
TABLE.sloteditor TD.slotvalues { text-align: left; }
TABLE.sloteditor TH.buttons { vertical-align: top; text-align: left; }
TABLE.sloteditor TH.rbuttons { vertical-align: top; text-align: right; }
TABLE.sloteditor TH.cbox { vertical-align: top; text-align: right; padding: 0pt; }
TABLE.sloteditor TH.rbox {
  vertical-align: top; text-align: left; font-size: 6pt; padding: 0pt; }
TABLE.embedded_browser {
  vertical-align: top; text-align: left; width: inherit;}
TABLE.embedded_browser TH.cbox {
  vertical-align: top; text-align: right; padding: 0pt; }
TABLE.embedded_browser TD.concept {
  text-align: left; font-size: small; }
TABLE.embedded_browser TH.rbuttons {
  vertical-align: top; text-align: right;}
TABLE.embedded_browser TD.expansion {
  text-align: left; font-family: serif; font-size: 8pt;}
TABLE.edheader {
  background-color: #422828; color: #baadad;
  margin-left: 0%; margin-right: 0%;}
TH.dimension_name {
  text-align: right; vertical-align: top;
  font-family: sans-serif; font-size: 18pt;}
TH.dimension_name SPAN.subhead {
  font-family: sans-serif; font-size: 12pt; white-space: nowrap;}
TD.dimension_browser { text-align: left; vertical-align: top; }
TD.dimension_browser SPAN.smalltext {
  font-size: 10pt; font-color: silver;  }
TABLE.edheader A { text-decoration: none; color: silver; }
TABLE.edheader TH.title { text-align: left; vertical-align: top; font-size: 18pt;}
TABLE.edheader TH.smtitle { text-align: left; vertical-align: top; font-size: 12pt;}
TABLE.edheader TH.llogo { text-align: left; vertical-align: top;}
TABLE.edheader TH.rlogo { text-align: right; vertical-align: top;}
TABLE.edheader TD.gloss { text-align: left; color: silver; font-size: 10pt;}
TABLE.edheader TD.buttons { text-align: left; vertical-align: top; color: silver; font-size: 10pt;}
TABLE.edheader TD.lbuttons { text-align: left; vertical-align: top; color: silver; font-size: 10pt;}
TABLE.edheader TD.rbuttons { text-align: right; vertical-align: top; color: silver; font-size: 10pt;}
TABLE.edheader TD.languages { text-align: center; color: white; font-size: 10pt;}
TABLE.edheader TH.smtitle A { text-decoration: none; font-family: san-serif; color: ivory; }
SPAN.highlight { font-weight: bold; }
TH.keysummary {
  text-align: left; vertical-align: top; font-family: serif;}
TH.keysummary SPAN.slotid { font-family: fixed; }
TH.keysummary SPAN.slotid A { font-family: fixed; color: blue;}
TH.keysummary SPAN.slotval {
  font-family: fixed; font-size: 80%; }
TH.keysummary SPAN.stringval {
  white-space: nowrap; font-family: serif; font-size: 80%;}
TH.keysummary SPAN.oid {
  white-space: nowrap; font-family: fixed; font-size: 80%; font-weight: bold;}
TH.keysummary SPAN.oid A {
  white-space: nowrap; font-family: serif; font-size: 80%;
  color: inherit; font-style: normal; font-weight: normal; }
P.search_result SPAN.subhead {
  font-size: 8pt; font-family: serif;}
P.search_result SPAN.subhead {
  font-size: 12pt; font-family: sans-serif;}
TABLE.fragment TH.tagbox {
  vertical-align: top; text-align: right;}
TABLE.fragment TH.tagbox A {
  text-decoration: none; color: inherit;}
TABLE.fragment TD.maintext SPAN.markup { font-size: 8pt; color: red; }
TABLE.fragment TD.maintext SPAN.markup A { font-size: 8pt; color: red; text-decoration: none;}
TABLE.fragment TD.maintext { font-size: 14pt; }
TABLE.fragment TD.prevtext { font-size: 8pt; }
TABLE.fragment TD.prevtext A { text-decoration: none; color: gray; }
TABLE.fragment TD.nexttext { font-size: 8pt; }
TABLE.fragment TD.nexttext A { text-decoration: none; color: gray; }
P.fielddoc {
 font-size: 10pt; color: #404040;}
SPAN.rude { color: red; }
P.searchcontrolbar {
 text-align: center; font-size: 16pt; }