/* General style elements */

span.nobreak { white-space: nowrap; }

/* New simplified display classes */

.checkspan { white-space: nowrap; cursor: pointer;}
.checkspan[ischecked] { font-weight: bold; }

/* Autoprompt classes */

input.autoprompt {
  font-family: sans,sans-serif; }
input.autoprompt[isempty] { font-style: italic; color: gray;}
input.autoprompt_empty {
  font-family: sans,sans-serif; font-weight: normal; font-style: italic;
  color: gray; height: 18px; }

/* Error pages */

body#ERRORPAGE {
  margin: 22px; margin-right: 40px;
  background-color: black; color: ivory;}

div.server_sorry {
  font-family: sans; font-size: 120%; color: silver;}
div.server_sorry div.error {
  font-weight: bold; font-size: 140%; color: white;}

div.error {
  margin-left: 8em; text-indent: -8em; font-family: sans; }
div.error span.ex { font-weight: bold;}
div.error span.cxt { font-weight: normal; }
div.error span.details { font-weight: normal; font-style: italic; }
div.error span.irritant {
  margin-left: 6px; white-space: nowrap;
  color: red;}
div.error div.irritant {
  margin-left: 6px; font-family: fixed; white-space: pre;
  color: red;}


div.backtrace { margin-top: 18px; font-size: 120%;}

div.backtrace_indent {
  margin-left: 8px; font-size: 98%;}

div.backtrace div.expr {
  font-family: courier,fixed; white-space: pre; text-align: left;
  padding-top: 3px; padding-bottom: 3px;}
div.backtrace div.expr span.focus {
  font-weight: bold; color: yellow; font-size: 120%;}

div.backtrace div.bindings {
  background-color: ivory;  color: black;
  padding-left: 64px; text-indent: -64px;
  padding-top: 4px; padding-bottom: 4px;}
div.backtrace div.bindings span.binding {
  font-family: fixed; font-weight: bold; color: red; white-space: nowrap; }
div.backtrace div.bindings span.head {
  padding-right: 12px; color: brown; font-weight: bold;}

div.backtrace div.rail {
  background-color: green;}
div.backtrace div.rail span.name {
  color: yellow; font-family: sans; font-weight: bold; padding-right: 8px;}
div.backtrace div.rail span.arg {
  color: white; font-family: fixed; font-weight: bold;
  padding-right: 6px; padding-left: 6px;}

div.backtrace div.last_entry {
  font-size: 160%;}

/* Default frame description */

table.frame_table th.header { 
  vertical-align: top; text-align: center; 
  font-family: sans; font-size: large; }
table.frame_table th {
  vertical-align: top;
  text-align: right;
  padding: 2px;
  font-family: sans;}
table.frame_table td {
  vertical-align: top; text-align: left; padding: 2px;
  background-color: lightblue; color: black;
  font-family: fixed;}
table.frame_table td span.value {
  white-space: nowrap;}

table.table_table th.header { 
  vertical-align: top; text-align: center; 
  font-family: sans; font-size: large; }
table.table_table th {
  vertical-align: top;
  text-align: right;
  padding: 2px;
  font-family: sans;}
table.table_table td {
  vertical-align: top; text-align: left; padding: 2px;
  background-color: yellow; color: black;
  font-family: fixed;}
table.table_table td span.value {
  white-space: nowrap;}

/* Input help classes */

div.helptext { display: none; }

/* Tabs */

span.tab {
  font-family: sans,sans-serif;
  margin-left: 2px; margin-right: 2px;
  border: outset black 2px;
  padding: 3px;}
span.tab[shown] {
  /* font-weight: bold; */
  border: inset black 2px;
  border-bottom: hidden;}
div.tabcontent {
 margin-left: 9px; margin-top: 6px; margin-right: 9px;
 text-align: left;
 display: none;}
div.tabcontent[shown] { display: block; }

div.tabcontent div.narrative {
 color: purple; font-family: sans; font-style: italic;}
div.tabcontent p {
 margin: 2px; padding: 2px;
 margin-left: 15%; text-indent: -5%; margin-right: 10%;}


/* Narrative classes */

.narrative {
  color: purple; font-style: italic; }
span.narrative_hidden {
  color: purple; font-style: italic;
  display: none;}

/* Concepts */

span.concept {
  border: none 1px;
  padding-left: 2px; padding-right: 2px;
  white-space: nowrap;}
span.concept[resolved='yes'] {
  border: none 1px;
  padding-left: 2px; padding-right: 2px;
  white-space: nowrap;}

a.concept {
  text-decoration: none;}
a.concept:hover {
  text-decoration: underline;}

.concept .disambig { color: red;}

/* Wordforms and langids */

span.wordform {
  white-space: nowrap; color: black;}
span.wordform sub.langids {
  color: purple; font-family: fixed;}
span.wordform .langid {
  color: purple; font-family: fixed;}
span.wordform a {
  color: inherit; text-decoration: none;}
span.wordform a:hover {
  color: inherit; text-decoration: underline;}


span.langbox {}
span.langbox_rigid { white-space: nowrap;}
span.langcheck { white-space: nowrap;}

/* Glosses */

p.gloss {
  font-style: italic; font-family: sans;}
p.gloss span.spacer {
  padding-left: 6px; padding-right: 6px;
  font-family: sans; font-weight: bold; font-size: 150%;}

/* Font sizers */

span.font_sizer {
  float: right; width: 16px; -moz-opacity: 0.75;
  font-size: 14px; font-weight: bold; 
  text-align: center; cursor: pointer; margin: 2px;
  background: gray; color: white;}

/* Inline Fields */

span.field { font-family: sans,sans-serif; }
span.field span.label { font-weight: bold; color: purple;}
span.field[slotid] span.label { color: inherit;}
span.field[slotid='ALWAYS'] { color: green;}
span.field[slotid='ALWAYS'] a.concept { color: green;}
span.field[slotid='SOMETIMES'] { color: gray;}
span.field[slotid='SOMETIMES'] a.concept { color: gray;}
span.field[slotid='NEVER'] { color: red;}
span.field[slotid='NEVER'] a.concept { color: red;}
span.field[slotid='SOMENOT'] { color: yellow;}
span.field[slotid='SOMENOT'] a.concept { color: yellow;}
span.field[slotid='MEMBER-OF'] { color: black;}
span.field[slotid='DEFTERMS'] { color: black;}
span.field[slotid='PART-OF'] { color: black;}

.slot .label {
  font-size: 115%; font-weight: bold; color: purple; margin-right: .5em;}
.slot a.label {
  font-weight: bold;}

span.slot { padding-right: 6px;}

.slot[slotid] span.label { color: inherit;}
.slot[slotid='ALWAYS'] { color: green;} /* font-size: 115%;  */
.slot[slotid='ALWAYS'] a.label { color: green;}
.slot[slotid='ALWAYS'] a.concept { color: green;}
.slot[slotid='COMMONLY'] { color: green;}
.slot[slotid='COMMONLY'] a.label { color: green;}
.slot[slotid='COMMONLY'] a.concept { color: green;}
.slot[slotid='SOMETIMES'] { color: green;} /* font-size: 90%; */
.slot[slotid='SOMETIMES'] a.label { color: green;}
.slot[slotid='SOMETIMES'] a.concept { color: green;}
.slot[slotid='NEVER'] { color: red;} /* font-size: 115%;  */
.slot[slotid='NEVER'] a.label { color: red;}
.slot[slotid='NEVER'] a.concept { color: red;}
.slot[slotid='RARELY'] { color: red;} /* font-size: 115%; */
.slot[slotid='RARELY'] a.label { color: red;}
.slot[slotid='RARELY'] a.concept { color: red;}
.slot[slotid='SOMENOT'] { color: red;} /* font-size: 90%; */
.slot[slotid='SOMENOT'] a.label { color: red;}
.slot[slotid='SOMENOT'] a.concept { color: red;}
.slot[slotid='OPTIONAL'] { color: red;} /* font-size: 90%; */
.slot[slotid='OPTIONAL'] a.label { color: red;}
.slot[slotid='OPTIONAL'] a.concept { color: red;}
.slot[slotid='MEMBER-OF'] { color: black;}
.slot[slotid='DEFTERMS'] { color: darkblue;}
.slot[slotid='DEFTERMS'] a.concept { color: darkblue;}
.slot[slotid='REFTERMS'] { color: darkblue; } /* font-size: 85%; */
.slot[slotid='REFTERMS'] a.concept { color: darkblue;}
.slot[slotid='PART-OF'] { color: black;}

div.slot .label { font-weight: bold; font-size: 150%; padding-right: 12px;}

span.slot a.browseall { color: purple; font-size: 75%; }

img[onclick] { cursor: pointer; }

/* Flexboxes */

div.flexbox { max-height: 128px;}
div.flexbox_expanded { max-height: inherit;}

/* CTT display */

div.cttdata { font-size: 10px; font-family: fixed;}
div.cttdata div.item {
  margin-left: 32px; text-indent: -32px;}
div.cttdata div.item span.head {
  font-weight: bold;}

/* Legacy stuff */

/* Hide/show classes */

span.hideshow {
  font-family: fixed; font-size: 80%; 
  cursor: pointer; color: black;
  white-space: nowrap;}
span.hideshow span.whenHidden {
  color: blue;}
span.hideshow span.whenVisible {
  color: blue;
  display: none;}

/* Collapsar classes */

span.collapsar {
 white-space: nowrap; cursor: pointer;
 text-decoration: none; font-size: 10px; font-family: sans-serif;
 color: black; background-color: lightgray; padding: 1px; margin: 2px;}

/* Clickit classes */

span.clickit {
 white-space: nowrap;
 text-decoration: none; font-size: 10px; font-family: sans-serif;
 color: black; background-color: silver;
 padding: 1px;
 border: outset silver 2px;	
 margin: 2px;}
a.clickit {
 white-space: nowrap;
 text-decoration: none; font-size: 10px; font-family: sans-serif;
 color: black; background-color: silver;
 padding: 1px;
 border: outset silver 2px;	
 margin: 2px;}
a.clickit:visited {
 white-space: nowrap;
 text-decoration: none; font-size: 10px; font-family: sans-serif;
 color: black; background-color: silver;
 padding: 1px;
 border: outset silver 2px;	
 margin: 2px;}
input[type='SUBMIT'] {
 white-space: nowrap;
 text-decoration: none; font-size: 10px; font-family: sans-serif;
 color: black; background-color: silver;
 padding: 1px;
 border: outset silver 2px;	
 margin: 2px;}

/* beingmeta specific display classes */

span.bmm { color: rgb(255,0,0);}
span.bme { color: rgb(228,100,17);}
span.bmt { color: green;}
span.bma { color: rgb(0,0,255);}

a span.bmm { color: rgb(255,0,0);}
a span.bme { color: rgb(228,100,17);}
a span.bmt { color: green;}
a span.bma { color: rgb(0,0,255);}

/* Legacy input help classes */

div.input_help {
 font-style: italic; font-size: 9px; color: purple;
 margin-left: 5%; text-indent: -5%;}
div.hidden_input_help {
 font-style: italic; font-size: 9px; color: purple;
 margin-left: 5%; text-indent: -5%;
 display: none;}
div.input_help tt {font-style: normal; font-weight: bold;}
div.hidden_input_help tt {font-style: normal; font-weight: bold;}

/* Hotcheckboxes */

span.hotcheck { cursor: pointer; white-space: nowrap;}

span.hotcheck span.left { display: none;}
span.hotcheck span.right { display: inline;}

/* Legacy tab stuff */

div.tab_content {
 margin-left: 9px; margin-top: 6px; margin-right: 9px;
 text-align: left;
 display: none;}
span.selected_tab {
  font-family: sans,sans-serif;
  font-weight: bold;
  margin-left: 2px; margin-right: 2px;
  border-top: inset black 2px;
  border-right: inset black 2px;
  border-left: inset black 2px;
  padding: 3px;}
div.selected_tab_content {
 margin-left: 9px; margin-top: 6px; margin-right: 9px;
 text-align: left;}
div.tab_content div.narrative {
 color: purple; font-family: sans; font-style: italic;}

div.tab_content p {
 margin: 2px; padding: 2px;
 margin-left: 15%; text-indent: -5%; margin-right: 10%;}

div.tab_content div.header {
 text-align: left; width: 95%; background-color: lightgray;
 font-size: 15px; font-family: sans; font-weight: bold; margin-top: 3px;
 padding-left: 3%; text-indent: -3%;}
div.tab_content div.header span.explanation {
 margin-left: 16px; color: purple;
 font-weight: normal; font-style: italic; font-size: 9px;}

